@import '../theme.css';

.cards-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 2vw;
}

.item-text{
    vertical-align: middle;
    width: fit-content;
    align-self: center;
}

@media (min-width: 770px){
    .card-div{
        width: 40vw;
    }
}

.card-div{
    background-color: white;
    height:fit-content;
    
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 50;
    margin: 10px 10px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.tag-text{
    border-radius: 4px;
    background-color: var(--lightblue);
    margin: 5px;
    padding: 10px 10px 0px 10px;
    text-align: center;
}

.tags-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 426px){
    .item-primary{
        height:35vh;
        width: 35vh;
        vertical-align: middle;
    }
    .item-secondary{
        height:35vh;
        width: 35vh;
        vertical-align: middle;
    }
}