@import '../theme.css';

.info-div{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vw 3vw;
}

#research{
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: 50;
    padding: 5vw 10vw;
    justify-content: space-between;
}

#logo-img{
    height: 40px;
    width: 40px;
}