@import '../theme.css';

#about{
    background-color: white;
    display: flex;
    flex-direction: row;
    z-index: 50;
    padding: 5vw 10vw;
    justify-content: space-between;
}

#portrait-img{
    height: 20vw;
    width: auto;
    border-radius: 10vw;
    z-index: 50;
}
#resume-button{
    border-radius: 5px;
    align-self: center;
}