@import '../theme.css';

.skills-card-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}

#card-img{
    position: absolute;
    height: 12vw;
    width: 30vw;
    object-fit: cover;
    overflow: hidden;
    z-index: 1;
    padding: 1vw 20px;
}

.item-text{
    vertical-align: middle;
    width: fit-content;
    align-self: center;
}

#item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
    justify-items: center;
    border-radius: 5px;
    z-index: 50;
}

#item-div{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1vw 20px;

}

.item-expanded{
    width: 30vw;
    height: 10vw;
    border-color: var(--lightblue);
    background-color: white;
    border-color: white;

    padding: 40px;
}

.item-closed{
    width: 15vw;
    height: 10vw;
    vertical-align: middle;
    border-color: var(--lightblue);
    border-width: 2px;
    background-color: white;
    border-color: white;
}

#card-button{
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    z-index: 50;
}