@import '../theme.css';

.skills-card-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}

.item-text{
    vertical-align: middle;
    width: fit-content;
    align-self: center;
}

#item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
    justify-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 50;
}

#item-div{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 1vw 20px;
    border-color: var(--darkblue);
    background-color: var(--lightblue);
    border-radius: 5px;
}

.item-expanded{
    width: 25vw;
    height: 8vw;
    border-color: var(--lightblue);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    border-color: white;
}

.item-closed{
    width: 15vw;
    height: 8vw;
    vertical-align: middle;
    border-width: 2px;
    background-color: white;
}

#item-background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.secondary-item-expanded{
    width: 0;
}

#card-button{
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    z-index: 50;
}