@import '../theme.css';
@import './animation.scss';

.bgstyle {
  background-size: 1200% 1200%;
  -webkit-animation: BackgroundAnimation 70s ease infinite;
  -moz-animation: BackgroundAnimation 70s ease infinite;
  -o-animation: BackgroundAnimation 70s ease infinite;
  animation: BackgroundAnimation 70s ease infinite;
  height: 100%;
}

.bg-gradient {
  background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
}

/* #home{
  height: 100vh;
} */

.header-class{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: stretch;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
